<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ejoapps.m2d2_sub.orderingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SandwichListActivity"
            android:parentActivityName=".SandwichQuantityAndTypeActivity"
            android:theme="@style/SandwichList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SandwichQuantityAndTypeActivity" />
        </activity>
        <activity
            android:name=".SandwichBuilderActivity"
            android:parentActivityName=".SandwichListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SandwichListActivity" />
        </activity>
        <activity
            android:name=".OrderSummaryActivity"
            android:parentActivityName=".SandwichListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SandwichListActivity" />
        </activity>
        <activity
            android:name=".CreateAccountActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainScreenNavDrawer"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SandwichQuantityAndTypeActivity"
            android:parentActivityName=".MainScreenNavDrawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreenNavDrawer" />
        </activity>
        <activity
            android:name=".OrderAddressAndFinalConfirmationActivity"
            android:parentActivityName=".OrderSummaryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OrderSummaryActivity" />
        </activity>
        <activity
            android:name=".CateringOrderActivity"
            android:parentActivityName=".MainScreenNavDrawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreenNavDrawer" />
        </activity>
        <activity
            android:name=".CateringListToBuildActivity"
            android:parentActivityName=".CateringOrderActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CateringOrderActivity" />
        </activity>
        <activity
            android:name=".CateringBuilderActivity"
            android:parentActivityName=".CateringListToBuildActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CateringListToBuildActivity" />
        </activity>
        <activity android:name=".DrinksPickerActivity"></activity>
    </application>

</manifest>